<div class="container mat-elevation-z8">
  <h1 class="full-width">Candidaturas</h1>
  <mat-card *ngFor="let subscription of subscriptions" class="job-card">
    <mat-card-header>
      <mat-card-title>Nome do candidato: {{ subscription.userName }}</mat-card-title>
    </mat-card-header>
    <mat-card-header>
      <mat-card-title>Vaga: {{ subscription.jobTitle }}</mat-card-title>
    </mat-card-header>
  </mat-card>

  <button routerLink="../../" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Retornar</button>
</div>
